@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://use.fontawesome.com/releases/v5.4.2/css/all.css');
//Breakpoints

$biggest:  1690px;
$big:      1280px;

$basic: 1180px;

$small:    755px;
$smallest: 600px;

//breakpoint for articles
$article_bp: 914px;


// Site colors
$white: #ffffff;
$green: #a2ca28;
$red: #fd634e;
$grey: #656e74;
$grey_blue:#8297a7;
$menu_link: #ffffff;



